=provide(:title, 'Annunci')
%h1
  Annunci per
  ="'"+@event.name+"'"
%p
  Puoi inviare messaggi a tuoi amici, siano essi utenti del sistema oppure no.
  Non esagerare però, dato che c'è un limite giornaliero alle email inviate dal sistema. Altrimenti puoi tornare alla
  =link_to "pagina dell'evento", event_path(@event)

%ul{:id => id="myTab",:class=>"nav nav-tabs"}
  %li{:class =>"active"}
    %a{ :href=>"#group", "data-toggle"=>"tab"}
      Gruppo
  %li
    %a{:href=>"#users","data-toggle"=>"tab"}
      Utenti
  %li
    %a{:href=>"#email","data-toggle"=>"tab"}
      Email

%div{:id=>"myTabContent",:class=>"tab-content"}
  %div{:class=>"tab-pane in active", :id=>"group"}

    -if @groups.nil?
      %p
        Non ci sono gruppi selezionabili
    -else
      %p
        Seleziona i gruppi di cui fai parte cui vuoi segnalare questo evento
      =form_for(:announcement, :url => event_announcements_path(@event), :html => {:class => "form-horizontal"}) do |f|
        %div{:class=>"row-fluid"}
          %div{:class=>"span6"}
            - @groups.each do  |group|
              %label{ :for => "group_ids[#{group.id}]"}
                = check_box_tag "group_ids[#{group.id}]",group.id, :id => "group_ids[#{group.id}]"
                = group.name

          %div{:class=>"span6"}
            .field<
              = check_box_tag "send_cc", 1, true, :disabled => true
              Spediscimi una copia dell'annuncio
            = f.submit(:class=>"btn btn-primary btn-large", :value => 'Invia annuncio ai gruppi')
        %br



  %div{:class=>"tab-pane in active", :id=>"users"}
    %p
      Seleziona gli utenti (massimo 6 per volta) cui vuoi segnalare questo evento
    =form_for(:announcement, :url => event_announcements_path(@event), :html => {:class => "form-horizontal"}) do |f|
      %div{:class=>"row-fluid"}
        %div{:class=>"span6"}
          - @users.each do  |user|
            %label{ :for => "user_ids_#{user.id}", :class => "inline"}
              = check_box_tag "user_ids[#{user.id}]",user.id, :id => "user_ids_#{user.id}", :class => "inline", :checked => false
              = user.name
        %div{:class=>"span6"}
          .field<
            = check_box_tag "send_cc", 1, false, :disabled => true
            Spediscimi una copia dell'annuncio
          = f.submit(:class=>"btn btn-primary btn-large", :value => 'Invia annuncio a questi utenti')
      %br

  %div{:class=>"tab-pane in active", :id=>"email"}
    %p Inserisci gli indirizzi di 6 persone (al massimo) cui vuoi segnalare questo evento

    =form_for(:announcement, :url => event_announcements_path(@event), :html => {:class => "form-vertical"}) do |f|
      %div{:class=>"row-fluid"}
        %div{:class=>"span6"}
          - 6.times do  |n|
            .field
              = f.text_field "email"+n.to_s
        %div{:class=>"span6"}
          .field<
            = check_box_tag "send_cc", 1, false, :disabled => true
            Spediscimi una copia dell'annuncio
          = f.submit(:class=>"btn btn-primary btn-large", :value => 'Invia annuncio a questi indirizzi')
      %br

:javascript
  $(function () {$('#myTab a:last').tab('show'); });
-if !@commit.nil?  && @commit=="Invia annuncio ai gruppi"
  :javascript
    $(function () {$('#myTab a[href="#group"]').tab('show'); })
-if !@commit.nil?  && @commit=="Invia annuncio a questi utenti"
  :javascript
    $(function () {$('#myTab a[href="#users"]').tab('show'); })
