= form_for @group, :html => {:class => "form-horizontal well"} do|f|
  -if @group.errors.any?
    #error_explanation
      %h2
        = @group.errors.count == 1 ? "Un errore non ha" : "#{@group.errors.count} errori non hanno"
        reso possibile il salvataggio
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg


  %div{:class=>"row-fluid"}
    %div{:class=>"span8"}
      .field
        = f.label :name, 'Nome'
        = f.text_field :name
    %div{:class=>"span4"}
      .field
        = f.label :location, 'Luogo'
        = f.text_field :location, :"data-provide" => "typeahead", :"data-items"=>"8",  :"data-source"=> @location_list

  %div{:class=>"row-fluid"}
    %div{:class=>"span4"}

      Mailing list
      %a{href: info_help_path+"#groups"}
        %i{:class=>"icon-question-sign"}
      = f.text_field :mailing_list,  :placeholder => "Opzionale, richiede iscrizione manuale"
    %div{:class=>"span4"}
      .field
        = f.label :website_url, 'Sito web'
        = f.text_field :website_url ,  :placeholder => "Opzionale"
    %div{:class=>"span4"}
      .field
        = f.label :image_url, 'Immagine'
        = f.text_field :image_url, :placeholder => "Opzionale"

  %div{:class=>"row-fluid"}
    %div{:class=>"span8"}
      .field
        = f.label :description , 'Descrizione'
        = f.text_area :description, rows: 4
    %div{:class =>"span4"}
      .field<
        %br
        = f.check_box :is_convention
        È una convention

  %br
  .actions
    = f.submit 'Invia', class:"btn btn-primary"
