=provide(:title, 'Modifica gruppo')
%h1 Editing group

= render 'form'

= link_to 'Dettagli', @group,  :class => "btn"

= link_to 'Elenco gruppi', groups_path,  :class => "btn"

= form_for(@group,:method => :delete )  do |f|
  = f.submit "Elimina", :class=>"btn btn-danger",  :confirm => 'Sei sicuro?'