=provide(:title, 'Dettagli gruppo')
%h1
  = @group.name
%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h1
        = image_tag @group.image_url_or_default, :alt => "Group logo", :id =>"group-logo", :class => "gravatar"
  %div{:class =>"span4"}
    %p
      %b
        Mailing list:
      No
    %p
      %b
        Calendario online:
      No
    - unless @group.website_url.blank?
      %p
        %b
        = link_to "Sito web", @group.website_url
    %p
      %b
        Luogo:
      = @group.location



  %div{:class =>"span4"}
    %h3
      %b
        Creato da:
    %ul{class:"users"}
      %li{class:"no-bullet"}
        %span
          = gravatar_for @group.user, 32
          = link_to @group.user.name, user_path(@group.user), id:"group_owner"
    %br
    %h3
      %b
        Membri
        %span{:id => "member_count"}
          ="("+@group.interests.count.to_s+"):"
    = render 'interests/list_interested_users', :interests => @group.interests

%div{:class =>"row"}
  %div{:class =>"span8"}
    = simple_format("<b>Descrizione: </b>"+@group.description, :id => "description")
%div{:class =>"row"}
  %div{:class =>"span4"}
    %p
      %nbsp
      = link_to 'Indietro', groups_path, :class => "btn"
      = link_to 'Modifica', edit_group_path(@group), :class => "btn"  if !current_user.nil? && (current_user==@group.user || current_user.admin? )

      - unless @group.user == current_user
        %nbsp
        -if  @interested
          = link_to 'Non m\'interessa più', edit_group_interest_path(@group,@interested),:class=>"btn btn-danger"  unless @interested.is_banned?
        -else
          = link_to 'Mi interessa', new_group_interest_path(@group),:class=>"btn btn-primary"

