=provide(:title, 'Dettagli gruppo')
%div{:class =>"row"}
  %div{:class =>"span4"}
    %p
      %b
        =  "Creato da "
      = @group.user.name
    %p
      %b il
      =l(@group.created_at, :format => :short)
    %p
      %b Luogo:
      = @group.location
    %p
      %b Membri:
      =@group.interests.count
    %p
      = link_to 'Modifica', edit_group_path(@group)
      \|
      = link_to 'Indietro', groups_path
      - unless @group.user == current_user
        \|
        = link_to 'Mi interessa', new_group_interest_path(@group),:class=>"btn btn-primary"
  %div{:class =>"span6"}
    %h1
      = @group.name
    %h2
      = link_to "Sito web", @group.website_url unless @group.website_url.blank?
  %div{:class =>"span2"}
    %p
      = image_tag @group.image_url_or_default, :alt => "Group logo", :id =>"group-logo"




%hr
  %div{:class =>"row"}
    %div{:class =>"span12"}
      = simple_format(@group.description)


%hr

= render 'interests/list_interested_users', :interests => @group.interests
