=provide(:title, t(:preferences_for)+@user.first_name_or_nick)
%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h1
        = gravatar_for @user
        = (t(:edit, :model => "")+ @user.first_name_or_nick).titleize
      %span<
        =t(:icon_provided_by)
        %nbsp
        = link_to "Gravatar", "http://www.gravatar.com"
        %a{:href=> info_help_path+"#gravatar" }
          %i{:class=>"icon-question-sign"}

= render 'shared/error_shared', :user => @user

- if @format=="delete"
  = render 'delete_form'
-else
  = render 'edit_form'
