%h1 Modifica di #{@user.name}

= render 'shared/error_shared', :user => @user

= form_for(@user)  do |f|
  %div{:class =>"row"}
    %div{:class =>"span4"}
      = f.label :name
      = f.text_field :name
      %br
      = f.label :email
      = f.text_field :email,:disabled => true
      %br
    %div{:class =>"span4"}
      = f.label :password , 'Password (6-15)'
      = f.password_field :password
      %br
      = f.label :password , 'Conferma Password'
      = f.password_field :password_confirmation
      %br
  %div{:class =>"row"}
    %div{:class =>"span4"}
      = f.label :nick , 'Nickname'
      = f.text_field :nick
      %br
    %div{:class =>"span4"}
      = f.label :location , "Luogo"
      = f.text_field :location
      %br
  %div{:class =>"row"}
    %div{:class =>"span8"}
      = f.label :description , 'Qualcosa su di te:'
      %br
      = f.text_area :description
      %br
  = f.submit "Modifica", :class=>"btn btn-primary"