=provide(:title, 'Preferenze')
%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h1
        = gravatar_for @user
        = "Modifica di "+ @user.first_name_or_nick
      %span<
        L'icona è fornita da
        %nbsp
        = link_to "Gravatar", "http://www.gravatar.com"
        %a{:href=> info_help_path+"#gravatar" }
          %i{:class=>"icon-question-sign"}

= render 'shared/error_shared', :user => @user

- if @format=="delete"
  = render 'delete_form'
-else
  = render 'edit_form'
