=provide(:title, 'Utenti')
%h1 Elenco utenti registrati

= will_paginate

%table{class: "table table-striped"}
  %tr
    %th{:class => @name_header}= link_to 'Nome', users_path(:sort => 'name'), :id => 'name_header'
    %th Nick
    %th{:class => @created_at_header}= link_to 'Iscritto il', users_path(:sort => 'created_at'), :id => 'created_at_header'
    %th Eventi
    %th Gruppi
    %th Partecipa

  = render :partial => "user", :collection => @users

= will_paginate