%h1 Registrazione nuovo utente

= form_for(@user)  do |f|

  = f.label :name
  = f.text_field :name
  %br
  = f.label :email
  = f.text_field :email
  %br
  = f.label :password , 'Password (6-15 lettere max)'
  = f.password_field :password
  %br
  = f.submit "Crea l'utente'"