=provide(:title, 'Registrazione')
%h1 Registrazione nuovo utente

= render 'shared/error_shared', :user => @user

= form_for(@user)  do |f|
  %div{:class =>"row"}
    %div{:class =>"span4"}
      = f.label :name
      = f.text_field :name
      %br
      = f.label :email
      = f.text_field :email
      %br
    %div{:class =>"span4"}
      = f.label :password , 'Password (6-15 lettere)'
      = f.password_field :password
      %br
      = f.label :password_confirmation , 'Conferma Password'
      = f.password_field :password_confirmation
      %br
  = f.submit "#{t(:create, :model=> t(:user)).capitalize}", :class => "btn btn-primary"