%h1 Bentornato #{@user.first_name_or_nick}!


%div{:class =>"row"}
  %div{:class =>"span4"}
    %p
      Nome completo:
      = @user.name
    %p
      Iscritto il:
      = @user.created_at.strftime("%d/%m/%Y")
    %p
      Nick:
      = @user.nick
    %p
      Luogo:
      = @user.location
    %p
      Descrizione:
      = @user.description
  %div{:class =>"span8"}
    Eventi organizzati:
    =@user.events.count
    -if @user.events.any?
      = render "shared/list_event"
    - if current_user?(@user)
      = link_to 'Organizza evento', new_event_path, :class => "btn"
%hr

= link_to 'Lista utenti', users_path,  :class => "btn"
= link_to 'Home', root_path,  :class => "btn"
= link_to 'Modifica', edit_user_path(@user), :class => "btn"
= button_to 'Cancella utente', user_path(@movie), :method => :delete, :confirm => 'Sei sicuro?' ,  :class => "btn"
