=provide(:title, t(:user).capitalize+": "+@user.first_name_or_nick)
%h1
  = @user.first_name_or_nick
%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h1
        = gravatar_for @user
        = @user.name
    -if @user.admin?
      %p
        %span{ :class=>"label label-important"}
          = t(:administrator).capitalize
    %p
      %b
        = t(:registered_on).capitalize+":"
      = @user.created_at.strftime("%d/%m/%Y")
    %p
      %b
        Nick:
      = @user.nick
    %p
      %b
        = t(:location).capitalize+":"
      = @user.location
  %div{:class =>"span4"}
    %h3
      %b
        =link_to "#{t(:organized_events).capitalize} ("+ @user.events.count.to_s+"):" , user_owned_events_path(@user)

    -if @user_events.any?
      = render "shared/list_event",  :events => @user_events ,:show_organizer => false
      %p
        ="...ed altri "+(@user.events.count-5).to_s unless @user.events.count<=5
    %h3
      %b
        =link_to "#{t(:reserved_events).capitalize} ("+ @user.reserved_events.count.to_s+"):", user_reserved_events_path(@user)
    -if @user.reserved_events.any?
      = render "shared/list_event" , :events => @user_reserved_events ,:show_organizer => true
    %p
      ="...ed altri "+(@user.reserved_events.count-5).to_s unless @user.reserved_events.count<=5
    -if @user.invitations.pending.any?
      %h3
        %b
          = "Inviti pendenti (" + @user.invitations.pending.count.to_s+"):"
      %ol{:class =>"events"}
        - @user.invitations.pending.each do |invitation|
          %li
            -if invitation.expired?
              %span{:class => "title"}
                =invitation.event.name
            -else
              %span{:class => "title"}
                %a{:href => edit_event_invitation_path(invitation.event,invitation)}
                  =invitation.event.name
            %span{:class => "system"}
              = " per '" + invitation.event.system+"'"  unless invitation.event.system.blank?
            -if invitation.expired?
              %span
                (Scaduto)
            -else
              %span{:class => "timestamp"}
                = ", scade il "+l(invitation.valid_until, :format => :formatted )





  %div{:class =>"span4"}
    %h3
      %b
        = Group.model_name.human(:count => 2).capitalize
      %span{:id => "group_count"}
        =" ("+(@groups.count+@interesting_groups.count).to_s+"):"
    %ol{:class =>"groups"}
      -if @groups.any?
        = render "shared/list_group" , :groups => @groups
      -if @interesting_groups.any?
        = render "shared/list_group" , :groups => @interesting_groups
%div{class:"row"}
  %div{:class =>"span12"}
    %p
      %b
        = t(:description).capitalize
    = simple_format(@user.description)

%hr
%div{:class=>"btn-group"}
  = link_to "#{t(:index).capitalize}", users_path,  :class => "btn"
  = link_to "#{t(:edit, :model=> User.model_name.human).capitalize}", edit_user_path(@user), :class => "btn"
  - if current_user?(@user)
    = link_to "#{t(:organize_event).capitalize}", new_event_path, :class => "btn", :id => "button"
    = link_to "#{t(:create, :model=> Group.model_name.human).capitalize}", new_group_path, :class => "btn"
  = link_to "#{t(:delete, :model=> User.model_name.human).capitalize}", edit_user_path(@user)+".delete", :class => "btn btn-danger"
