%h1 Bentornato #{@user.first_name_or_nick}!


%div{:class =>"row"}
  %div{:class =>"span4"}
    %p
      %b
        Nome completo:
      = @user.name
    %p
      %b
        Iscritto il:
      = @user.created_at.strftime("%d/%m/%Y")
    %p
      %b
        Nick:
      = @user.nick
    %p
      %b
        Luogo:
      = @user.location
    %p
      %b
        Descrizione:
      = @user.description
  %div{:class =>"span8"}
    %p#organized-events
      Eventi organizzati:
      =@user.events.count
      - if current_user?(@user)
        = link_to 'Organizza evento', new_event_path, :class => "btn"

    -if @user.events.any?
      -@events=@user.events
      = render "shared/list_event",  :events => @user.events ,:show_organizer => false

    %p#reserved-events
      Eventi prenotati:
      =@user.reserved_events.count

    -if @user.reserved_events.any?
      = render "shared/list_event" , :events => @user.reserved_events ,:show_organizer => true

%hr
%div{:class=>"btn-group"}
  = link_to 'Lista utenti', users_path,  :class => "btn"
  = link_to 'Modifica', edit_user_path(@user), :class => "btn"
  = link_to 'Elimina utente', edit_user_path(@user)+".delete", :class => "btn btn-danger"
