=provide(:title, 'Utente')
%h1
  = @user.first_name_or_nick
%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h1
        = gravatar_for @user
        = @user.name
    %p
      %b
        Iscritto il:
      = @user.created_at.strftime("%d/%m/%Y")
    %p
      %b
        Nick:
      = @user.nick
    %p
      %b
        Luogo:
      = @user.location
    %p
      %b
        Descrizione:
      = simple_format(@user.description)
  %div{:class =>"span4"}
    %h3
      %b Eventi:
      =@user.events.count + @user.reserved_events.count
    -if @user.events.any?
      -@events=@user.events
      = render "shared/list_event",  :events => @user.events ,:show_organizer => false
    -if @user.reserved_events.any?
      = render "shared/list_event" , :events => @user.reserved_events ,:show_organizer => true

  %div{:class =>"span4"}
    %h3
      %b Gruppi:
      %span{:id => "group_count"}
        =@groups.count+@interesting_groups.count
    %ol{:class =>"groups"}
      -if @groups.any?
        = render "shared/list_group" , :groups => @groups
      -if @interesting_groups.any?
        = render "shared/list_group" , :groups => @interesting_groups

%hr
%div{:class=>"btn-group"}
  = link_to 'Lista utenti', users_path,  :class => "btn"
  = link_to 'Modifica', edit_user_path(@user), :class => "btn"
  - if current_user?(@user)
    = link_to 'Organizza evento', new_event_path, :class => "btn"
    = link_to 'Crea gruppo', new_group_path, :class => "btn"
  = link_to 'Elimina utente', edit_user_path(@user)+".delete", :class => "btn btn-danger"
