Gruppi:
= groups.count
%ul{:class =>"groups"}
  - groups.each do |group|
    %li{:class=> "no-bullet"}
      %span{:class => "name"}
        %a{:href => group_path(group)}
          = image_tag group.image_url_or_default, :alt => "logo", :class =>"tiny-group-logo"
          = group.name
      -if group.user == current_user
        = link_to "Gestisci", edit_group_path(group)
      USER_ID::
      = group.user.id
      \|
      = group.user.name

