%ol{:class =>"events"}
  - events.each do |event|
    %li
      %span{:class => "title"}
        %a{:href => event_path(event)}
          =event.name
      %span{:class => "system"}
        = "per '" + event.system+"'"  unless event.system.blank?
      -unless event.begins_at.nil?
        %span{:class => "timestamp"}
          = l(event.begins_at, :format => :formatted )
      -if show_organizer
        %span{:class => "user"}
          \- proposto da
          =  link_to event.user.first_name_or_nick,event.user
      -if defined?(group) && current_user
        -if defined?(add_link) && add_link==true
          \-
          %span{:class => "add_button"}
            =  link_to "Collega",group_linked_event_path(group,event)+"/confirm"
        -else
          %span{:class => "delete_button"}
            =  link_to "-",edit_group_linked_event_path(group,event), :class => "btn btn-small"
      -if defined?(convention) && current_user
        -if current_user==convention.user

          -if event.status ==4
            %span{:class=>"badge badge-warning"}
              %abbr{:title=>"Proposto"}
                (P)
            %a{href: event_approve_path(event)}
              %i{:class=>"icon-ok"}
              Approva
            %a{href:event_disapprove_path(event)}
              %i{:class=>"icon-remove"}
              Rifiuta

          -if event.status ==2
            %span{:class=>"badge badge-success"}
              %abbr{:title=>"Confermato"}
                (C)
            %a{href:event_disapprove_path(event)}
              %i{:class=>"icon-remove"}
              Rimuovi

