=provide(:title, 'Home')
%div
  %p{:class=>"center"}
    =link_to image_tag("santa_sleigh_w_reindeer_logo.png", alt: "House Rule christmas logo", id: "large logo")

%div
  %p
    %em Il sito per organizzare le tue partite (di giochi di simulazione, ruolo o altro) con i tuoi amici. Oppure al Club. Oppure online. Insomma, dove e quando ti pare!
  -unless signed_in?
    =link_to "Login", login_path, :class =>"btn btn-primary"
    oppure
    =link_to "Registrati", new_user_path, :class =>"btn btn-primary"

%div{:class =>"row"}
  %div{:class =>"span8"}
    -if @events.any?
      %h2
        =link_to "Eventi in partenza", events_path+"?selection=not_begun"
      = render "shared/list_event", :events => @events , :show_organizer => true
      %p
        ="...ed altri "+(@not_yet_started_event_count-5).to_s unless @not_yet_started_event_count<=5

  %div{:class =>"span4"}
    %h2
      =link_to "Eventi in cantiere", events_path+"?selection=no_date"
    = render "shared/list_event", :events => @undefined_events , :show_organizer => true
    %p
      ="...ed altri "+(@undefined_event_count-5).to_s unless @undefined_event_count<=5


%hr

%div{:class =>"row"}
  %div{:class =>"span8"}
    %h2
      News
      %span{class: "label"}
        ALPHA
        =ApplicationController.version
    %p
      Il sito è in fase di lavorazione, vi preghiamo di provarlo e di segnalarci eventuali errori via
      = link_to "email.", "mailto:piffy@treemme.org"
      In prossimità del natale, vi proponiamo la  nuova release (0.3). Oltre ai miglioramenti "interni" e poco visibili,
      le novità introdotte sono parecchie, ovvero:
    %ul
      %li
        Possibilità di collegare eventi a gruppi (creando una sorta di mini-convention)
      %li
        Archiviazione vecchi eventi
      %li
        Liste d'attesa


    %p
      Ora tocca a voi: dovrete provare queste nuove funzionalità per scoprire gli errori. Vi chiederemmo inoltre di partecipare
      al processo creativo utilizzando
      =link_to "questo sondaggio.", info_feedback_path
      Fateci sapere sapere cosa va, cosa non va, e soprattutto che cosa vi interesserebbe nelle versioni successive. Il sondaggio non vi chiederà più di 5 minuti.
      %br
        %i
          (Nota: il sondaggio è nuovo! Va rifatto!)
      %br
      Per ulteriori dettagli visitate
      =link_to "la pagina informativa del progetto", info_about_path

  %div{:class =>"span4"}
    %h2 Status
    %p
      %i{:class=>"icon-user", :title=>"Utenti"}
      = @user_count
      = link_to "utenti registrati", users_path
      organizzati in
      = @group_count
      = link_to "gruppi", groups_path
      %br
      %i{:class=>"icon-calendar", :title=>"Eventi"}
      =@event_count
      = link_to "eventi", events_path
      presenti, di cui
      =@not_yet_started_event_count
      non ancora iniziati
      %br
      %i{:class=>"icon-calendar", :title=>"Eventi archiviati"}
      =@archived_event_count
      = link_to "eventi archiviati", archived_events_path


