=provide(:title, 'Home')
%div
  %p{:class=>"center"}
    =link_to image_tag("large_logo.png", alt: "House Rule logo", id: "large logo")

%div
  %p
    %em Il sito per organizzare le tue partite (di giochi di simulazione, ruolo o altro) con i tuoi amici. Oppure al Club. Oppure online. Insomma, dove e quando ti pare!
  -unless signed_in?
    =link_to "Login", login_path, :class =>"btn btn-primary"
    oppure
    =link_to "Registrati", new_user_path, :class =>"btn btn-primary"

%div{:class =>"row"}
  %div{:class =>"span8"}
    -if @events.any?
      %h2
        =link_to "Eventi in partenza", events_path+"?selection=not_begun"
      = render "shared/list_event", :events => @events , :show_organizer => true
      %p
        ="...ed altri "+(@not_yet_started_event_count-5).to_s unless @not_yet_started_event_count<=5

  %div{:class =>"span4"}
    %h2
      =link_to "Eventi in cantiere", events_path+"?selection=no_date"
    = render "shared/list_event", :events => @undefined_events , :show_organizer => true
    %p
      ="...ed altri "+(@undefined_event_count-5).to_s unless @undefined_event_count<=5


%hr

%div{:class =>"row"}
  %div{:class =>"span8"}
    %h2
      News
      %span{class: "label"}
        ALPHA
        =ApplicationController.version
    %p
      Il sito è in fase di lavorazione, vi preghiamo di provarlo e di segnalarci eventuali errori via
      = link_to "email.", "mailto:piffy@treemme.org"
      Abbiamo appena rilasciato la nuova release, (0.2),ed ora stiamo puntando alle nuove funzionalità, ovvero:
    %ul
      %li Possibilità di collegare eventi a gruppi
        %i{class: icon-check}
      %li Archiviazione vecchi eventi
        %i{class: icon-wrench}
      %li Feedback post-game
        %i{class: icon-remove}
      %li Liste d'attesa per eventi pieni
        %i{class: icon-remove}


    %p
      Vi saremmo grati se voleste lasciarci un commento
      =link_to "in questo sondaggio.", info_feedback_path
      %br
        %i
          (Nota: il sondaggio è nuovo, se lo avete già fatto per la 0.1 siete pregati di rifarlo per registrare i miglioramenti/peggioramenti)
      %br
      Per ulteriori dettagli visitate
      =link_to "la pagina informativa del progetto", info_about_path

  %div{:class =>"span4"}
    %h2 Status
    %p
      %i{:class=>"icon-user", :title=>"Utenti"}
      = @user_count
      = link_to "utenti registrati", users_path
      organizzati in
      = @group_count
      = link_to "gruppi", groups_path
      %br
      %i{:class=>"icon-calendar", :title=>"Eventi"}
      =@event_count
      = link_to "eventi", events_path
      presenti, di cui
      =@not_yet_started_event_count
      non ancora iniziati


