%div{:class=>"row-fluid"}
  %div{:class=>"span8 well"}

    = form_for @event, :html => {:class => "form-horizontal"} do |f|
      -if @event.errors.any?
        #error_explanation
          %h2= "#{@event.errors.count} errori non hanno reso possibile il salvataggio dell'evento:"
          %ul
            - @event.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :name, 'Nome'
        = f.text_field :name
      .field
        = f.label :system, 'Sistema'
        = f.text_field :system
      .field
        = f.label :begins_at, 'Inizio'
        = f.datetime_select :begins_at , {:minute_step => 15,:use_month_numbers=>true,:order => [:day, :month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year+1 }
      .field
        = f.label :deadline , 'Confermare entro'
        = f.datetime_select :deadline , {:minute_step => 15, :use_month_numbers=>true, :order => [:day, :month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year+1}
      .field
        = f.label :duration, 'Durata'
        = f.text_field :duration
      .field
        = f.label :descr_short , 'Descrizione breve'
        = f.text_field :descr_short
      .field
        = f.label :description , 'Descrizione'
        = f.text_area :description
      .field
        = f.label :location, 'Luogo'
        = f.text_field :location
      .field
        Numero di giocatori
        = f.label :min_player_num, 'minimo: '
        = f.number_field :min_player_num, :min=>"0", :size=>"3", :maxlenght =>3
        = f.label :max_player_num, 'massimo: '
        = f.number_field :max_player_num, :min=>"0", :size=>"3", :maxlenght =>3

      .actions
        = f.submit 'Invia'
