
= form_for @event, :html => {:class => "form-horizontal well" } do |f|
  = render 'event_wizard/error_messages'
  %div{:class=>"row-fluid"}
    %div{:class=>"span6"}
      .field
        = f.label t(:name)
        = f.text_field :name , :placeholder => t(:mandatory)
    %div{:class=>"span6"}
      .field
        = f.label t(:descr_short).capitalize
        = f.text_field :descr_short , :placeholder => t(:impact)
    %div{:class=>"row-fluid"}
      %div{:class=>"span12"}
        %div
          .field
            = f.label t(:description).capitalize
            = f.text_area :description , :placeholder => t(:links_too)
            -if defined?(@group)
              =# hidden_field :group, :value => @group.id.to_s
              =hidden_field :group, :id, :value=>@group.id
        .actions
          = f.submit(:class=>"btn btn-primary", :value => t(:next).capitalize)
