
= form_for @event, :html => {:class => "form-horizontal well" } do |f|
  = render 'event_wizard/error_messages'
  %div{:class=>"row-fluid"}
    %div{:class=>"span6"}
      .field
        = f.label :name, 'Nome dell\'evento'
        = f.text_field :name , :placeholder => "Obbligatorio!"
    %div{:class=>"span6"}
      .field
        = f.label :descr_short , 'Descrizione breve'
        = f.text_field :descr_short , :placeholder => "Sottotitolo d'impatto"
    %div{:class=>"row-fluid"}
      %div{:class=>"span12"}
        %div
          .field
            = f.label :description , 'Descrizione estesa'
            = f.text_area :description , :placeholder => "Puoi mettere anche link ad altre pagine o siti."
            -if defined?(@group)
              =# hidden_field :group, :value => @group.id.to_s
              =hidden_field :group, :id, :value=>@group.id
        .actions
          = f.submit(:class=>"btn btn-primary", :value => 'Prossimo')
