
%table{:class => "table table-striped"}
  - if path=="events"
    =render "index_header"
  -else
    =render "index_header_user"

  - @events.each do |event|
    %tr
      %td= link_to event.name, event, :title => event.descr_short
      %td= event.system
      %td= l(event.begins_at, :format => :medium) unless event.begins_at.nil?
      %td= event.duration
      %td
        -if event.begins_at==event.deadline ||  event.deadline.nil?
          ="-" unless event.deadline.nil?
        -else
          =l(event.deadline, :format => :short)
      %td= event.location
      %td
        = event.reservations.count
        - unless event.max_player_num ==0
          = " / "  + event.max_player_num.to_s
        -if event.invite_only?
          %i{:class=>"icon-exclamation-sign", :title=>"Solo a inviti"}

        - bar_color = "bar-success"
        -if   event.percentage >75
          - bar_color="bar-warning"
        - if  event.percentage == 100 || event.min_player_num>event.reservations.count
          - bar_color="bar-danger"
        %div{:class=>"progress", :style=>"width: 50px; height:5px"}
          %div{:class=>"bar #{bar_color}" , :style=>"width: #{event.percentage}% "}

      %td
        -unless event.invite_only? ||  event.reservation_locked?
          -if !@current_user.nil? && event.already_reserved_by(@current_user)
            = link_to 'Sprenota', event_reservation_path(event, event.already_reserved_by(@current_user)), :class =>"btn btn-danger"
          -elsif event.max_player_num+event.waiting_list<=event.reservations.count && event.max_player_num>0
            %span{:class =>"label label-important" }
              Completo
          -else
            - if event.reservations.count>=event.max_player_num
              =link_to 'In lista', new_event_reservation_path(event), :class =>"btn btn-warning"
            - else
              =link_to 'Prenota', new_event_reservation_path(event), :class =>"btn btn-primary"

        -if !@current_user.nil? && (@current_user==event.user || @current_user.admin)
          %td= link_to 'Modifica', edit_event_path(event), :class =>"btn"

