%tr
  %th{:class => @name_header}= link_to t(:name), events_path(:sort => 'name'), :id => 'name_header'
  %th{:class => @system_header}= link_to t(:system).capitalize, events_path(:sort => 'system'), :id => 'system_header'
  %th{:class => @begins_at_header}= link_to t(:date_and_time), events_path(:sort => 'begins_at'), :id => 'begins_at_header'
  %th= t(:duration).capitalize
  %th= t(:deadline).capitalize+"?"
  %th= t(:location).capitalize
  %th= Reservation.model_name.human(:count => 2).capitalize
  %th
  %th
  %th