=provide(:title, t(:edit, :model => @event.name).capitalize)
%h1
  = @event.name

= render 'step_banner', :creation => false

= render 'form'

= link_to t(:event_details).capitalize, @event ,  :class=>"btn"

= link_to t(:delete, :model => Event.model_name.human ).capitalize, @event, :confirm => t(:are_you_sure), :method => :delete ,:class=>"btn btn-danger"

= link_to t(:event_listing).capitalize, events_path, :class=>"btn"
