=provide(:title, t(:event_listing).capitalize)
%h1= t(:event_listing).capitalize
%h4
  =t(:selected_models, :model =>  Event.model_name.human(:count => 2) ).capitalize
  \:
  %span{:id => "event_selected_count"}
    =@events.count
  \/
  %span{:id => "event_total_count"}
    =@total

= form_tag events_path, :method => :get, :id => 'filter_form',:html => {:class => "form-horizontal"} do
  %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'all_events', @selection=='all_events'
    = t(:all).capitalize
    %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'not_begun', @selection=='not_begun'
    = t(:not_yet_started).capitalize
    %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'no_date', @selection=='no_date'
    = t(:unscheduled).capitalize
    = radio_button_tag 'selection', 'archived', @selection=='archived'
    = t(:archived).capitalize
  %br
  = submit_tag t(:update).capitalize, :id => 'filter_submit', :class=> "btn btn-small"

=will_paginate

=render "index_listing" , :path => "events"

= will_paginate
%br

= link_to t(:organize_event).capitalize, new_event_path, :class =>"btn"
