=provide(:title, 'Eventi')
%h1 Elenco eventi
%h4
  Selezionati
  %span{:id => "event_selected_count"}
    =@events.count
  eventi su
  %span{:id => "event_total_count"}
    =@total

= form_tag events_path, :method => :get, :id => 'filter_form',:html => {:class => "form-horizontal"} do
  %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'all_events', @selection=='all_events'
    Tutti
    %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'not_begun', @selection=='not_begun'
    Non iniziati
    %span{:class =>"label label-info" }
    = radio_button_tag 'selection', 'no_date', @selection=='no_date'
    Senza data
    = radio_button_tag 'selection', 'archived', @selection=='archived'
    Archiviati
  %br
  = submit_tag 'Aggiorna', :id => 'filter_submit', :class=> "btn btn-small"

=will_paginate

=render "index_listing" , :path => "events"

= will_paginate
%br

= link_to 'Organizza evento', new_event_path, :class =>"btn"
