%h1 Elenco eventi

%table
  %tr
    %th{:class => @name_header}= link_to 'Nome evento', events_path(:sort => 'name'), :id => 'name_header'
    %th{:class => @system_header}= link_to 'Sistema', events_path(:sort => 'system'), :id => 'system_header'
    %th{:class => @begins_at_header}= link_to 'Data e ora', events_path(:sort => 'begins_at'), :id => 'name_header'
    %th Durata
    %th Descrizione
    %th Conferma?
    %th Status
    %th Luogo
    %th Giocatori
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.system
      %td= event.begins_at
      %td= event.duration
      %td= event.descr_short
      %td= event.deadline
      %td= event.status
      %td= event.location
      %td= event.max_player_num.to_s + " - "  + event.min_player_num.to_s
      %td= link_to 'Dettagli', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Elimina', event, :confirm => 'Sei sicuro?', :method => :delete

%br

= link_to 'New Event', new_event_path
