%p#notice= notice

%h2
  = @event.name
%h3
  = @event.descr_short
%p
  %b Sistema:
  = @event.system
%p
  %b Inizio:
  = @event.begins_at.strftime('%d-%m-%y %H:%M')
%p
  %b Durata:
  = @event.duration
%p
  %b Desrizione:
  = @event.description
%p
  %b Conferma entro:
  = @event.deadline.strftime('%d-%m-%y %H:%M')
%p
  %b Status:
  = @event.status_to_s
%p
  %b Luogo:
  = @event.location
%p
  %b Giocatori:
  =  "da "+@event.min_player_num.to_s + " a "  + @event.max_player_num.to_s
%p
  %b Organizzato da:
  = link_to @event.user.first_name_or_nick,user_path(@event.user)

= link_to 'Modifica', edit_event_path(@event)
\|
= link_to 'Elenco', events_path
