%p#notice= notice

%h1
  = '"'+@event.name+'"'
  %span{:class=>"label label-info"}
    = @event.status_to_s
-unless @event.descr_short.blank?
  %h2
    = "("+@event.descr_short+")"
%p
  %b Sistema:
  = @event.system
%p
  %b Inizio:
  = @event.begins_at.strftime('%d-%m-%y %H:%M')
%p
  %b Durata:
  = @event.duration
%p
  %b Conferma entro:
  = @event.deadline.strftime('%d-%m-%y %H:%M')
%p
  %b Luogo:
  = @event.location
%p
  %b Giocatori:
  =  "da "+@event.min_player_num.to_s + " a "  + @event.max_player_num.to_s
  Prenotazioni attuali:
  =@event.reservations.count
%p
  %b Organizzato da:
  = link_to @event.user.first_name_or_nick,user_path(@event.user)
%p
  %b Descrizione:
  = @event.description

%div{:class=>"btn-group"}
  = link_to 'Modifica', edit_event_path(@event), :class=>"btn"
  = link_to 'Elenco', events_path, :class=>"btn"

