=provide(:title, 'Dettagli evento')

-unless @event.descr_short.blank?
  %h1{:style => "margin-bottom:0px;"}
    = '"'+@event.name+'"'
  %p{:class =>"center"}
    = "("+@event.descr_short+")"
-else
  %h1
    = '"'+@event.name+'"'



%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h2

      %p
        %span{:class=>"label label-info span2"}
          = Event.status_string[@event.status]
      -if @event.check_time ==2
        %p
          %span{:class=>"label label-info span2"}
            Iniziato
      -if @event.invite_only?
        %p
          %span{:class=>"label label-warning span2"}
            Solo invitati
      -if @event.reservation_locked?
        %p
          %span{:class=>"label label-important span2"}
            Prenotazioni bloccate
      -if @event.reservations.count < @event.min_player_num
        %p
          %span{:class=>"label label-important span2"}
            Prenotazioni scarse



  %div{:class =>"span4"}
    -unless @event.system.blank?
      %p
        %b Sistema di gioco:
        = @event.system
    -unless @event.convention.nil?
      %p
        %span{:class => "name"}
          %a{:href => convention_path(@event.convention)}
            = image_tag @event.convention.image_url_or_default, :alt => "logo", :class =>"tiny-group-logo"
            = @event.convention.name


    %p
      %b Data e ora:
      - if @event.begins_at.nil?
        Non ancora stabilita
      -else
        = l(@event.begins_at, :format => :long)
        = "("+@event.duration+")" unless @event.duration.blank?
      - unless @event.begins_at.nil? || @event.deadline.nil? || @event.deadline == @event.begins_at
        %p
          %b Deadline:
          = l(@event.deadline, :format => :long)

    -unless @event.location.blank?
      %p
        %b Luogo:
        = @event.location
    %p

      -if @event.groups.any?
        %b Legato a:
        = render "shared/list_group" , :groups => @event.groups
  %div{:class =>"span4"}
    %h3
      %b
        Organizzato da:
    %ul{class:"users"}
      %li{class:"no-bullet"}
        %span
          = gravatar_for @event.user, 32
          = link_to @event.user.first_name_or_nick, user_path(@event.user), id:"group_owner"
    %br
    %h3
      %b<
        Prenotati (
        -if (@event.min_player_num == @event.max_player_num) && (@event.min_player_num == 0)
          - show_limit=nil
          %span{:class=>"reservations", :title=>"Prenotazioni"}
            = @event.reservations.count.to_s
        -else
          -show_limit = @event.max_player_num
          %span{:class=>"reservations", :title=>"Prenotazioni"}
            =[@event.reservations.count,@event.max_player_num].min.to_s+"/"+@event.max_player_num.to_s
          - if @event.waiting_list>0

            %span{:class=>"waiting_list_count", :title=>"Lista d'attesa"}
              = "+ "+[@event.reservations.count-@event.waiting_list,0].max.to_s+"/"+@event.waiting_list.to_s
        ):


    = render 'reservations/list_users', :reservations => @event.reservations , :show_limit=>show_limit

    %br
    %h3
      %b
        = link_to "Inviti", event_invitations_path(@event)
        %span{id: "invitation_count"}
          = " ("+@event.invitations.pending.not_stale.count.to_s+"):"
    = render 'invitations/list_invited', :invitations => @event.invitations.pending.not_stale

%div{:class =>"row"}
  %div{:class =>"span12"}
    = simple_format("<b>Descrizione: </b>"+@event.description, :id => "description") unless @event.description.blank?

%hr
%div{:class =>"row"}
  %div{:class =>"span12"}
    -unless @event.invite_only? || @event.reservation_locked?
      -if !@user.nil? && @event.already_reserved_by(@user)
        = link_to 'Elimina prenotazione', event_reservation_path(@event, @event.already_reserved_by(@user)) ,:class=>"btn btn-danger"
      - else
        = link_to 'Prenota', new_event_reservation_path(@event), :class=>"btn btn-success"   unless @event.check_time>0
    -if !current_user.nil? && (current_user==@event.user || current_user.admin? )
      = link_to 'Modifica Evento', edit_event_path(@event), :class=>"btn"
      = link_to 'Proponi per convention', event_propose_path(@event) , :class=>"btn"  if @event.convention.nil?
      = link_to 'Archivia', event_archive_path(@event) , :class=>"btn"  unless @event.begun?

    = link_to 'Elenco eventi', events_path, :class=>"btn"
    -if !@user.nil?
      = link_to 'Messaggi', event_compose_path(@event), :class=>"btn"
      -if current_user?(@event.user)  || current_user.admin?
        = link_to 'Annuncia', new_event_announcement_path(@event), :class=>"btn"


