=provide(:title, t(:event_details).capitalize)

-unless @event.descr_short.blank?
  %h1{:style => "margin-bottom:0px;"}
    = '"'+@event.name+'"'
  %p{:class =>"center"}
    = "("+@event.descr_short+")"
-else
  %h1
    = '"'+@event.name+'"'

%div{class:"row"}
  %aside{class:"span4"}
    %section
      %h2

      %p
        %span{:class=>"label label-info span2"}
          = t(Event.status_string[@event.status])
      -if @event.check_time ==2
        %p
          %span{:class=>"label label-info span2"}
            =t(:started)
      -if @event.invite_only?
        %p
          %span{:class=>"label label-warning span2"}
            =t(:invite_only)
      -if @event.reservation_locked?
        %p
          %span{:class=>"label label-important span2"}
            =t(:reservations_locked)
      -if @event.reservations.count < @event.min_player_num
        %p
          %span{:class=>"label label-important span2"}
            =t(:reservations_low)



  %div{:class =>"span4"}
    -unless @event.system.blank?
      %p
        %b= t(:system).capitalize + ":"
        = @event.system
    %p
      %b=t(:date_and_time).capitalize + ":"
      - if @event.begins_at.nil?
        =t(:unscheduled)
      -else
        = l(@event.begins_at, :format => :long)
        = "("+@event.duration+")" unless @event.duration.blank?
      - unless @event.begins_at.nil? || @event.deadline.nil? || @event.deadline == @event.begins_at
        %p
          %b= t(:deadline).capitalize+ ":"
          = l(@event.deadline, :format => :long)

    -unless @event.location.blank?
      %p
        %b= t(:location).capitalize + ":"
        = @event.location
    %p

      -if @event.groups.any?
        %b= t(:linked_to)+":"
        = render "shared/list_group" , :groups => @event.groups
  %div{:class =>"span4"}
    %h3
      %b
        =t(:organizer)+":"
    %ul{class:"users"}
      %li{class:"no-bullet"}
        %span
          = gravatar_for @event.user, 32
          = link_to @event.user.first_name_or_nick, user_path(@event.user), id:"group_owner"
    %br
    %h3
      %b<
        =Reservation.model_name.human(:count=>2).capitalize+ " ("
        -if (@event.min_player_num == @event.max_player_num) && (@event.min_player_num == 0)
          - show_limit=nil
          %span{:class=>"reservations", :title=>"Prenotazioni"}
            = @event.reservations.count.to_s
        -else
          -show_limit = @event.max_player_num
          %span{:class=>"reservations", :title=>"Prenotazioni"}
            =[@event.reservations.count,@event.max_player_num].min.to_s+"/"+@event.max_player_num.to_s
          - if @event.waiting_list>0

            %span{:class=>"waiting_list_count", :title=>"Lista d'attesa"}
              = "+ "+[@event.reservations.count-@event.waiting_list,0].max.to_s+"/"+@event.waiting_list.to_s
        ):


    = render 'reservations/list_users', :reservations => @event.reservations , :show_limit=>show_limit

    %br
    %h3
      %b
        = link_to Invitation.model_name.human(:count=>2).capitalize, event_invitations_path(@event)
        %span{id: "invitation_count"}
          = " ("+@event.invitations.pending.not_stale.count.to_s+"):"
    = render 'invitations/list_invited', :invitations => @event.invitations.pending.not_stale

%div{:class =>"row"}
  %div{:class =>"span12"}
    = simple_format("<b>"+t(:description).capitalize+": </b>"+@event.description, :id => "description") unless @event.description.blank?

%hr
%div{:class =>"row"}
  %div{:class =>"span12"}
    -unless @event.invite_only? || @event.reservation_locked?
      -if !@user.nil? && @event.already_reserved_by(@user)
        = link_to t(:delete, :model=> Reservation.model_name.human).capitalize, event_reservation_path(@event, @event.already_reserved_by(@user)) ,:class=>"btn btn-danger"
      - else
        = link_to t(:reserve), new_event_reservation_path(@event), :class=>"btn btn-success"   unless @event.check_time>0
    -if !current_user.nil? && (current_user==@event.user || current_user.admin? )
      = link_to t(:edit, :model => Event.model_name.human).capitalize, edit_event_path(@event), :class=>"btn"
      = link_to 'Archivia', event_archive_path(@event) , :class=>"btn"  unless @event.begun?

    = link_to t(:event_listing).capitalize, events_path, :class=>"btn"
    -if !@user.nil?
      = link_to t(:messages), event_compose_path(@event), :class=>"btn"
      -if current_user?(@event.user)  || current_user.admin?
        = link_to t(:announce), new_event_announcement_path(@event), :class=>"btn"


