%div{:class =>"row"}
  %div{:class =>"span4"}
    %h4
      Data e ora
    %p
      = @event.begins_at.strftime('%d-%m-%y alle %H:%M')
      = "("+@event.duration+")" unless @event.duration.blank?
    %br
      %b Deadline:
      = @event.deadline.strftime('%d-%m-%y alle %H:%M')


  %div{:class =>"span8"}
    %h1
      = '"'+@event.name+'"'
      -unless @event.descr_short.blank?
        %h4{:class =>"center"}
          = "("+@event.descr_short+")"
%hr
%div{:class =>"row"}
  %div{:class =>"span4"}
    %h4
      Sistema di gioco
    %p
      = @event.system
    %h4
      Luogo
    %p
      = @event.location

  %div{:class =>"span8"}
  %p
    %b
      Giocatori:
    =  "da "+@event.min_player_num.to_s + " a "  + @event.max_player_num.to_s
    = "(Prenotati: "+  @event.reservations.count.to_s+"/"+@event.max_player_num.to_s+")"

    - if !@user.nil? && @event.already_reserved_by(@user)
      = link_to 'Elimina prenotazione', event_reservation_path(@event, @event.already_reserved_by(@user)) ,:class=>"btn btn-danger"
    - else
      = link_to 'Prenota', new_event_reservation_path(@event), :class=>"btn btn-success"

  %div{:class=> "player"}
    =link_to image_tag("user-icon.png", alt: "organizer", class: "player-icon"), user_path(@event.user)
    %div{:class=> "player-description"}
      =@event.user.first_name_or_nick
      %span{:class=>"label label-info"}
        Org
  - @event.reservations.each do |reservation|
    %div{:class=> "player"}
      =link_to image_tag("offline-user-icon.png", alt: "player", class: "player-icon"), user_path(reservation.user_id)
      %div{:class=> "player-description"}
        =User.find_by_id(reservation.user_id).first_name_or_nick
        %span{:class=>"label label-success"}
          Ok

        =link_to   "X", event_reservation_path(@event, reservation), class: "btn btn-danger nomargin"




%hr
%div{:class =>"row"}
  %div{:class =>"span4"}
    %span{:class=>"label label-info"}
      = Event.status_string[@event.status]
    %br
    = link_to 'Modifica Evento', edit_event_path(@event), :class=>"btn"
    %br
    = link_to 'Elenco eventi', events_path, :class=>"btn"
  %div{:class =>"span8"}
    %br
    = simple_format(@event.description)