=provide(:title, 'Dettagli evento')
%div{:class =>"row"}
  %div{:class =>"span4"}
    %h4
      Data e ora
    %p
      = l(@event.begins_at, :format => :long)
      = "("+@event.duration+")" unless @event.duration.blank?
    %br
      %b Deadline:
      = l(@event.deadline, :format => :long)


  %div{:class =>"span8"}
    %h1
      = '"'+@event.name+'"'
  -unless @event.descr_short.blank?
    %p{:class =>"center"}
      %strong
        = "("+@event.descr_short+")"
%hr
%div{:class =>"row"}
  %div{:class =>"span4"}
    %p
      %b Organizzatore:
    %div{:class =>"row organizer"}
      %span{:id =>"organizer-icon"}
      = gravatar_for(@event.user,48)
      %a{:href=> event_path(@event.user)}
        =@event.user.first_name_or_nick
    %div{:class =>"row"}
    -unless @event.system.blank?
      %p
        %b Sistema di gioco:
        = @event.system
    -unless @event.location.blank?
      %p
        %b Luogo:
        = @event.location
    %p
      %span{:class=>"label label-info"}
        = Event.status_string[@event.status]
    -if @event.invite_only?
      %span{:class=>"label label-warning"}
        Solo invitati
    -if @event.reservation_locked?
      %span{:class=>"label label-important"}
        Prenotazioni bloccate

  %div{:class =>"span8"}
  -if (@event.min_player_num == @event.max_player_num) && (@event.min_player_num == 0)
    %p
      %b Giocatori prenotati:
      = @event.reservations.count
  -else
    %p
      %b
        Giocatori:
      =  "da "+@event.min_player_num.to_s + " a "  + @event.max_player_num.to_s
      = "(Prenotati: "+  @event.reservations.count.to_s+"/"+@event.max_player_num.to_s+")"


  %div{:class=> "player"}
  - @event.reservations.each do |reservation|
    %div{:class=> "player"}
      %a{:href=>user_path(reservation.user)}
        = gravatar_for(reservation.user,80,"player-icon")
      -#=link_to image_tag("offline-user-icon.png", alt: "player", class: "player-icon"), user_path(reservation.user_id)
      %div{:class=> "player-description"}
        =User.find_by_id(reservation.user_id).first_name_or_nick
        %span{:class=>"label label-success"}
          Ok
        %a{:href =>  event_reservation_path(@event, reservation), class: "nomargin" }
          %i{class:"icon-edit", title:"modifica"}
        -#=link_to   "X", event_reservation_path(@event, reservation), class: "btn btn-danger nomargin"

-unless @event.description.blank?
  %hr
  %div{:class =>"row"}
    %div{:class =>"span12"}
      = simple_format(@event.description)


%hr
%div{:class =>"row"}
  %div{:class =>"span12"}
    -unless @event.invite_only? || @event.reservation_locked?
      -if !@user.nil? && @event.already_reserved_by(@user)
        = link_to 'Elimina prenotazione', event_reservation_path(@event, @event.already_reserved_by(@user)) ,:class=>"btn btn-danger"
      - else
        = link_to 'Prenota', new_event_reservation_path(@event), :class=>"btn btn-success"

    = link_to 'Modifica Evento', edit_event_path(@event), :class=>"btn"
    %nbsp
    = link_to 'Elenco eventi', events_path, :class=>"btn"
    -if !@user.nil?
      %nbsp
      = link_to 'Messaggi', event_compose_path(@event), :class=>"btn"
      -if current_user?(@event.user)
        %nbsp
        = link_to 'Annuncia', new_event_announcement_path(@event), :class=>"btn"
        = link_to 'Inviti', event_invitations_path(@event), :class =>"btn"


