=provide(:title, 'Modifica interesse')
%h1
  Modifica interesse per il gruppo
  ="'"+@group.name+"'"
%p
  Qui puoi modificare le opzioni relative al gruppo
  ="'"+@group.name+"'"
  (gestito da
  =@group.user.name+")"
  - if @interest.user != current_user
    per l'utente
    =@interest.user.name
  In alternativa puoi tornare ai
  = link_to 'dettagli del gruppo', group_path(@group)
  o infine
  = link_to 'eliminare', group_interest_path(@group,@interest) , :confirm => 'Sei sicuro?', :method => :delete
  il l'iscrizione al gruppo.

= form_for([@group, @interest])  do |f|
  -if @interest.errors.any?
    #error_explanation
      %h2= "#{@interest.errors.count} errori non hanno reso possibile la modifica:"
      %ul
        - @interest.errors.full_messages.each do |msg|
          %li= msg

  %h4 Puoi scegliere tra le seguenti opzioni:
  .field<
    = f.check_box :is_visible
    VISIBILE (Gli altri utenti potranno vedere che ti interessa questo gruppo)
  .field
    = f.check_box :gets_email
    EMAIL (Riceverai le email relative a questo gruppo)
  -if @group.user == current_user
    .field
      = f.check_box :is_banned
      BANNATO (Impedisce all'utente di iscriversi al gruppo)
  = f.submit "Confermo", :class => "btn btn-primary"

= form_for([@group, @interest],:method => :delete )  do |f|
  = f.submit "Elimina", :class=>"btn btn-danger",  :confirm => 'Sei sicuro?'


