=provide(:title, t(:edit, :model=>Event.model_name.human ).capitalize+": "+ t(step.to_s) )




%h1
  =@event.name


= render 'step_banner'


= form_for @event, :html => {:class => "form-horizontal well"}, :url => event_event_wizard_path(@event), :method => :put do |f|

  =render 'error_messages'


  %div{:class=>"row-fluid"}
    %div{:class=>"span9"}
      .field
        = f.label t(:system).capitalize
        = f.text_field :system, :placeholder => t(:may_be_blank) , :"data-provide" => "typeahead", :"data-items"=>"8",  :"data-source"=> @system_list
    %div{:class=>"span3"}
      Lookup
      %br
      %a{:class =>"btn", :disabled => true}
        bgg
      %a{:class =>"btn", :disabled => true}
        rpgg
  :javascript
    $('.typeahead').typeahead()

  %div{:class=>"row-fluid"}
    %div{:class=>"span3"}
      .field
        = f.label t(:min_player_num).capitalize
        = f.number_field :min_player_num, :min=>"0", :size=>"3", :maxlenght =>3, :class => "input-small"
        %abbr{:title=>"Lasciare a 0 per non avere minimo. Valore indicativo."}
          %i{:class=>"icon-question-sign"}

    %div{:class=>"span3"}
      .field
        = f.label t(:max_player_num).capitalize
        = f.number_field :max_player_num, :min=>"0", :size=>"3", :maxlenght =>3, :class => "input-small"
        %abbr{:title=>"Lasciare a 0 per non avere limite."}
          %i{:class=>"icon-question-sign"}
    %div{:class=>"span3"}

      .field
        = f.label t(:waiting_list).capitalize
        = f.number_field :waiting_list, :min=>0, :size=>"3", :maxlenght =>3, :class => "input-small"
        %i{:class=>"icon-question-sign"}
    %div{:class=>"span3"}
      Flags
      .field
        = f.check_box :invite_only
        = t :invite_only
        %i{:class=>"icon-question-sign"}
      .field
        = f.check_box :reservation_locked
        = t :reservation_locked
        %i{:class=>"icon-question-sign"}
      .field
        %input{:type=>"checkbox", :disabled=> true}
        = t :invites_as_reserved
        %i{:class=>"icon-question-sign"}
  %div{:class=>"row-fluid"}
    %div{:class=>"span4"}
      %br
      .actions
        = f.submit(:class=>"btn btn-primary", :value => t(:next).capitalize)


