=provide(:title, 'Wizard evento: '+ t(step.to_s) )
%h1
  =@event.name

= render 'step_banner'

= form_for @event, :html => {:class => "form-horizontal well"}, :url => event_event_wizard_path(@event), :method => :put do |f|

  = render 'error_messages'

  -if @event.status==2
    %div{:class=>"row-fluid"}
      %div{:class=>"span12"}
        .field
          = f.label :duration, 'Durata', :title => "Indicare la durata, se possibile, in ore"
          = f.text_field :duration, :placeholder => "Siate brevi: 4h. 1d, tutto il giorno..."
    %div{:class=>"row-fluid"}
      %div{:class=>"span12"}
        %br
        %p
          Data e ora:
          = l(@event.begins_at, :format => :long)
          = "("+@event.duration+")" unless @event.duration.blank?
          - unless @event.begins_at.nil? || @event.deadline.nil? || @event.deadline == @event.begins_at
            \-
            Deadline:
            = l(@event.deadline, :format => :long)
          %abbr{:title=>"Trattandosi di un evento confermato, date e orari non possono essere modificati"}
            %i{:class=>"icon-question-sign"}
  -else

    %div{:class=>"row-fluid"}
      %div{:class=>"span6"}
        .field
          = f.label :duration, 'Durata', :title => "Indicare la durata, se possibile, in ore"
          = f.text_field :duration, :placeholder => "Siate brevi: 4h. 1d, tutto il giorno..."
      %div{:class=>"span3"}
        .field
          %label Tipo di evento
          %input{type:"radio", name:"date_type", value:"NODATE", id: "no_date",
            onclick:"alert('Sicuro? In questo modo le iscrizioni non sono possibili, inviti e prenotazioni saranno eliminati!')" } Data non stabilita
          %br
          %input{type:"radio", name:"date_type", id:"no_deadline", value:"NODEADLINE" , checked: @no_deadline} Senza data limite prenotazioni
      %div{:class=>"span3"}
        .field
          %br
          %input{type:"radio", name:"date_type", id: "standard", value:"STANDARD", checked: !@no_deadline} Con data limite prenotazioni
          %br
          %input{type:"radio", name:"date_type", id: "repeating", value:"REPEATING", :disabled=> true} Ripetuto


    %br
    %div{:class=>"row-fluid"}
    %div{:class=>"span3"}
      .field
        = f.label :begins_at, "Inizio il "

        %div{:class=>"input-append date input-xxlarge", :id=>"begins_at_date", :"data-date"=> @event.begins_at.strftime("%d-%m-%Y"), :"data-date-format"=>"dd-mm-yyyy"}
          %input{:class=>"span4", :type=>"text", :value=>(@event.begins_at) .strftime("%d-%m-%Y"), :name => "event[begins_at_date_only]", :id => "event_begins_at_date_only"  }
            #span{:class=>"add-on"}
              #i{:class=>"icon-th"}
    %div{:class=>"span3"}
      .field
        = f.label :begins_at, "alle "
        = f.time_select :begins_at, :ignore_date => true,:minute_step => 15
        :javascript
          $('#begins_at_date').datepicker({
              language: 'it'
          });


        -#= f.date_select :begins_at, :use_month_numbers=>true,:order => [:day, :month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year+1


    %div{:class=>"span3"}
      .field
        = f.label :deadline , 'Conferma entro il'
        %div{:class=>"input-append date input-xxlarge ", :id=>"deadline_date", :"data-date"=> @event.deadline.strftime("%d-%m-%Y"), :"data-date-format"=>"dd-mm-yyyy"}
          %input{:class=>"span4", :type=>"text", :value=>@event.deadline.strftime("%d-%m-%Y"), :name => "event[deadline_date_only]", :id => "event_deadline_date_only" }
            #span{:class=>"add-on"}
              #i{:class=>"icon-th"}
    %div{:class=>"span3"}
      .field
        = f.label :begins_at, "alle "
        = f.time_select :deadline, :ignore_date => true,:minute_step => 15
        :javascript
          $('#deadline_date').datepicker({
              language: 'it'
          });

  %div{:class=>"row-fluid"}
    %div{:class=>"span12"}
      .field
        = f.label :location, 'Luogo'
        = f.text_field :location, :placeholder => "Indicare via e indirizzo, o coordinate Geolocation" , :"data-provide" => "typeahead", :"data-items"=>"8",  :"data-source"=> @location_list
  :javascript
    $('.typeahead').typeahead()

  %div{:class=>"row-fluid"}
    %div{:class=>"span4"}
      %br
      .actions
        = f.submit(:class=>"btn btn-primary", :value => 'Prossimo')
