= form_for @convention  do |f|
  -if @convention.errors.any?
    #error_explanation
      %h2
        = @convention.errors.count == 1 ? "Un errore non ha" : "#{@convention.errors.count} errori non hanno"
        reso possibile il salvataggio
      %ul
        - @convention.errors.full_messages.each do |msg|
          %li= msg



  %div{:class=>"row-fluid"}
    %div{:class=>"span8"}
      .field
        = f.label :name, 'Nome'
        = f.text_field :name
    %div{:class=>"span4"}
      .field
        = f.label :location, 'Luogo'
        = f.text_field :location, :"data-provide" => "typeahead", :"data-items"=>"8",  :"data-source"=> @location_list
        :javascript
          $('.typeahead').typeahead()

  %div{:class=>"row-fluid"}
    %div{:class=>"span4"}
      .field
        = f.label :website_url, 'Sito web'
        = f.text_field :website_url ,  :placeholder => "Opzionale"
    %div{:class=>"span4"}
      .field
        = f.label :image_url, 'Immagine'
        = f.text_field :image_url, :placeholder => "Opzionale"
    %div{:class =>"span4"}
      .field<
        = f.label :facebook_url, "Facebook link"
        = f.text_field :facebook_url, :placeholder => "Opzionale"
  %div{:class=>"row-fluid"}
    %div{:class=>"span12"}
      .field
        = f.label :description , 'Descrizione'
        = f.text_area :description, rows: 4

  %div{:class=>"row-fluid", :id=>"convention_only", :style=>"hidden"}
    %div{:class=>"span4"}
      .field
        = f.label :begin_date, "Inizia il"
        %div{:class=>"input-append date input-xxlarge", :id=>"begin_date", :"data-date"=> @convention.begin_date.strftime("%d-%m-%Y"), :"data-date-format"=>"dd-mm-yyyy"}
          %input{:class=>"span4", :type=>"text", :value=>@convention.begin_date.strftime("%d-%m-%Y"), :name => "convention[begin_date_only]", :id => "convention_begin_date_only"  }
            #span{:class=>"add-on"}
              #i{:class=>"icon-th"}
          :javascript
            $('#begin_date').datepicker({
                language: 'it'
            });
    %div{:class=>"span4"}
      .field
        = f.label :end_date, "Finisce il"
        %div{:class=>"input-append date input-xxlarge", :id=>"end_date", :"data-date"=> @convention.end_date.strftime("%d-%m-%Y"), :"data-date-format"=>"dd-mm-yyyy"}
          %input{:class=>"span4", :type=>"text", :value=>@convention.end_date.strftime("%d-%m-%Y"), :name => "convention[end_date_only]", :id => "convention_end_date_only"  }
            #span{:class=>"add-on"}
              #i{:class=>"icon-th"}
          :javascript
            $('#end_date').datepicker({
                language: 'it'
            });


  .actions
    = f.submit 'Invia', class:"btn btn-primary"
