=provide(:title, 'Guida')
%h1 Guida rapida all'uso di "House Rule"'

%h2
  Per iniziare: registratevi
%p
  Anche se potete consultare gli eventi disponibili, per fruire appieno delle funzionalità
  del sito dovete registrarvi, andando
  = link_to "qui.", login_path
  Per registravi basta fornire un' email e una password e potete immediatamente
  usarla (vi verrà invata una email di conferma, ma l'attivazione non è ancora prevista.)
  A quel punto potete accedere alla modifica del vostro utente e aggiungere i dati restanti.
  %dl{class:"dl-horizontal"}
    %dt
      Email
    %dd
      L'email è anche l'username di accesso al sistema. Al momento, non può essere modificato
    %dt
      Nome utente
    %dd
      Il nome utente può essere modificato liberamente e non è necessario sia un nome reale, (anche se aiuta gli altri giocatori)!
      Sono possibili omonimie
    %dt
      Nick
      %a{:name => "gravatar"}
        %nbsp
    %dd
      Il nick è a sua volta un elemento che aiuta gli altri giocatori ad identificarvi. Anche quiesto può non essere univoco.

%h4
  Icona e Gravatar
%p
  L'unico elemento insolito è l'uso di
  = link_to "Gravatar", "http://www.gravatar.com"
  per fornire la propria immagine. Gravatar è un sito tramite il quale potete caricare le vostre icone legate
  alla vostra email. Una volta fatto potete utilizzarla "automagicamnte" in tutti i siti abilitati,
  l cui numero è rapida crescita. Se non lo fate, Gravatar vi fornirà un motivo geometrico in sostituzione.

%h2
  Gli eventi
%p
  Potete dare un'occhiata agli eventi che sono già presenti nel sistema. La
  = link_to "prima pagina", root_path
  presenta i prossimi cinque eventi in ordine di tempo, ma potete avere un quadro più completo nella
  = link_to "pagina di elenco degli eventi,", events_path
  dove potrete scorrere eventi nuovi e vecchi, cambiare l'ordine di visualizzazione (in prospettiva ci sarà una funzione di ricerca più completa)
%h3
  Dettagli di un evento
%p
  Facendo click sul nome di un evento si raggiunge la schermata informativa dell'evento stesso.
%p
  %img{src:"/assets/show_event.png", style:"border: solid black 2px "}
%p La pagina è organizzata in modo da avere le informazioni principali al centro (nome, sottotitolo e descrizione, bordati verdi e i dettagli operativi, bordati in blu)
Le informazioni di secondo livello (organizzatore, stato dell'evento, persone prenotate) sono ai lati (bordati arancioni)
%p Le azioni possibili sono elencate in basso, sotto forma di pulsanti, o in alto a destra, sotto forma di menu.

%h3 Iscrizione
%p
  Se un evento che vi interessa, potete fare click sul pulsante
  = link_to 'Prenota', '#', :class=>"btn btn-success"
  che si trova sia nell'elenco degli eventi sia nella pagina di dettaglio dell'evento. Questa azione è ovviamente possibile
  solo agli utenti registrati.
%p
  In certi casi la prenotazione non è possibile (per esempio, se ci sono troppi iscritti, oppure se l'evento
  è iniziato o oltre il limite fissato dall'organizzatore). Se la prenotazione ha successo, l'organizzatore
  riceve un messaggio dell'avvenuta prenotazione
%h3
  Organizzare un nuovo evento
%p
  Per organizzare un evento è sufficiente premere il pulsante
  = link_to 'Organizza evento', new_event_path, :class => "btn"
  presente nella pagina del proprio utente,  oppure tramite menu da qualunque pagina.
%p
  Vi comparirà un menù (attualmente) di 4 voci
%dl{class:"dl-horizontal"}
  %dt
    1: Nome
  %dd
    L'unica informazione veramente obbligatoria è il nome dell'evento. La descrizione breve è una sorta di sottotitolo,
    mentre la descrizione lunga merita di essere molto dettagliata per far capire ai giocatori di che si tratta. Potete inserire link
    esterni e immagini senza problemi.
  %dt
    2: Gioco
  %dd
    Qui potete inserire dati sul sistema di gioco da utilizzare, nonché il numero minimo e massimo di giocatori previsti.
    Il numero massimo stabilisce anche il massimo numero di inviti e prenotazioni.
    %br
    È possibile anche attivare alcune speciali proprietà:
    %dl{class:"dl-horizontal"}
      %dt
        = check_box_tag :invite_only
        Evento a soli inviti
      %dd
        Permette le iscrizioni solo a persone invitate (v. oltre)
      %dt
        = check_box_tag :invite_only
        Prenotazioni bloccate
      %dd
        Blocca del tutto le prenotazioni (anche quelle su invito)
  %dt
    3: Dove e quando
  %dd
    Inserite i dati indicati. La data dell'evento piò essere lasciata in bianco ma in questo caso l'evento è
    considerato "in cantiere" e non sono possibli né inviti né prenotazioni.
    %br
    Può prevista una data limite
    %i
      (deadline)
    oltre la quale non è possibile prenotarsi. Se non la si vuole, basta fare click sul pulsante
    %br
    %input{type:"radio", name:"date_type", id:"no_deadline", value:"NODEADLINE" } Senza deadline
    %br
  %dt
    4: Final
  %dd
    Si propongono alcune azioni possibili per la pubblicizzazione e la gestione dell'evento (vedi "comunicazioni" e "inviti")

%h3
  Modificare e cancellazione
%p
  Solo l'organizzatore dell'evento può modificare l'evento stesso e, in paritcolare, cancellarlo.
  Quest'ultima operazione è particolarmente drastica perché elimina completamente l'evento, e tutto quanto
  ad esso collegato.
%h2
  Comunicazioni
%p
  Creare un evento non è in genere sufficiente, occorre comunicarlo agli amici e ai potenziali
  giocatori. Per farlo basta premere il pulsante
  = link_to 'Annuncia', "#", :class=>"btn"
  Con esso potrete inviare messaggi a un elenco di indirizzi, oppure a utenti del sistema, oppure
  ai gruppi
  = link_to "(vedi oltre).", "#groups"
%p
  Con il pulsante
  = link_to 'Messaggi', "#", :class=>"btn"
  invece, potrete inviare messaggi a chi si è iscritto al vostro evento e, allo stesso modo,
  gli iscritti potranno comuncare con voi
%a{:name => "groups"}
  %nbsp
%h2
  Gruppi
%p
  I gruppi hanno po' le stesse funzionalità dei gruppi dei social networks, riunendo utenti con
  interessi simili (in questo sistema le funzioni sono molto più semplici). Se non avete troppe pretese, possono essere
  utilizzate anche per organizzare eventi per piccole convention, radunando in un unico posto un gruppo di eventi collegati
  %br
  Oppure, più semplicemente, possono essere utizzati alla stregua dei "tag" dei vari social network.
%p
  Potete trovare l'elenco dei gruppi scegliendo la voce "Gruppi" dal menu. Se un gruppo vi interessa,
  premete il pulsante
  = link_to 'Mi interessa', "#", :class =>"btn btn-primary"
  e potrete decidere se mostrare il vostro nome assieme agli altri e se ricevere le comunicazioni relative a
  questo gruppo. Se siete già membri potrete sempre decidere di lasciarlo (a meno che non siate bannati)
%h3
  Creazione e amministrazione
%p
  Premendo
  = link_to 'Crea gruppo', "#" , :class => "btn"
  dall'elenco gruppi, potrete creare un nuovo gruppo. Qui l'unica informazione realmente necessaria
  è il nome del gruppo stesso, ma fornire più informazioni è ovviamente gradito.
%p
  In quanto proprietari del gruppo, potrete modificare i parametri del gruppo e le iscrizioni al gruppo stesso.
  In particolare, potrete "bannare" utenti che non volete facciano parte del vostro gruppo (ma solo dopo che questi si sono iscritti, non vogliamo
  fare una battaglia preventiva ).
%p
  Alcuni elementi richiedono una spiegazione particolare:
  %dl{class:"dl-horizontal"}
    %dt
      = check_box_tag :is_convention
      È una convention
    %dd
      Questo indica che il gruppo si riferisce ad un evento strutturato (come Play, Origins, Lucca Games). Fra breve sarà possibile
      raggruppare e visualizzare in modo organico eventi inseriti in questo contesto
    %dt
      Mailing list
      %br
      %input{:placeholder => "Opzionale, richiede iscrizione manuale", :class=>"span4"}
    %dd
      Nel caso il gruppo possedesse una mailing list, un gruppo online (tipo google groups o simili), il programma
      invierà le comunicazioni relative al gruppo a questa mailing list, anziché ai simboli membri.
      %i Attenzione!
      Il programma non ha la possibilità (e non sarà realizzata) di registrare l'indirizzo di posta di Houserule
      nelle varie mailing list: dovrete effettuare questa operazione manualmente. L'indirizzo attualmente utilizzato per inviare la posta
      dal sistema è
      %b noreplay.houserules@heroku.com
%h3
  Collegare eventi
%p
  È possibile "collegare un evento" a un particolare gruppo, premendo il pulsante "Collega evento" che si trova sotto alla descrizione del gruppo.
  Il proprietario di un gruppo può collegare qualsiasi evento presente nel sito, mentre un organizzatore di evento può collegare solo i propri eventi
  a un gruppo di cui faccia già parte. Lo stesso vale se si vuole scollegare un evento.
  %br
  Gli eventi collegati ad un evento appaiono nella pagina di descrizione del gruppo. Allo stesso modo, il gruppo appare nella pagina di
  dettaglio dell'evento.
  '

%h2
  Inviti
%p
  Se lo si desidera, l'organizzatore può invitare direttamente uno o più giocatori (che in questo caso devono essere utenti già registrati nel sistema)
  Se il giocatore accetta, sarà automaticamente prenotato per l'evento in questione. Se rinuncia, non potrà più farlo.
  L'organizzatore può anche sollecitare l'invito.
%p
  Per invitare qualcuno basta fare click su
  = link_to 'Inviti', "#", :class=>"btn"
  e successivamente sul pulsante
  = link_to 'Invita', "#", :class=>"btn"
%p
  Qui potrete selezionare gli utenti desiderati e/o gruppi di interesse. Indipendentemente dalla scelta, ogni utente riceverà al massimo un messaggio di invito.



