=provide(:title, 'Guida')
%h1 Guida rapida all'uso di "House Rule"'

%h2
  Per iniziare
%p
  Anche se potete consultare gli eventi disponibili, per fruire appieno delle funzionalità
  del sito dovete registrarvi, andando
  = link_to "qui.", login_path
  Per registravi basta fornire un' email e una password e potete immediatamente
  usarla (vi verrà invata una email di conferma, ma l'attivazione non è ancora prevista.)
  A quel punto potete accedere alla modifica del vostro utente e aggiungere i dati restanti.
%p
  L'unico elemento insolito è l'uso di
  = link_to "Gravatar", "http://www.gravatar.com"
  per fornire la propria immagine. Gravatar è un sito tramite il quale potete caricare i vostri avatar ina volta
  per tutte e utilizzarla in tutti i siti abilitati, il cui numero è rapida crescita. Se non lo fate,
  Gravatar vi fornirà un motivo geometrico in sostituzione.

%h2
  Gli eventi
%p
  Potete dare un'occhiata agli eventi che sono già presenti nel sistema. La
  = link_to "prima pagina", root_path
  presenta i prossimi cinque eventi in ordine di tempo, ma potete avere un quadro più completo nella
  = link_to "pagina di elenco degli eventi,", events_path
  dove potrete scorrere eventi nuovi e vecchi, cambiare l'ordine di visuazizzazione (in prospettiva ci sarà una funzione di ricerca più completa)
%h2
  Iscrizione
%p
  Se vedete un evento che vi interessa, potete fare click sul pulsante
  = link_to 'Prenota', '#', :class=>"btn btn-success"
  che si trova sia nell'elenco degli eventi sia nella pagina di dettaglio dell'evento.
%p
  In certi casi la prenotazione non è possibile (per esempio, se ci sono troppi iscritti, oppure se l'evento
  è iniziato o oltre il limite fissato dall'organizzatore). Se la prenotazione ha successo, l'organizzatore
  riceve un messaggio dell'avvenuta prenotazione
%h4
  Creazione
%p
  Per creare un evento è sufficiente premere il pulsante
  = link_to 'Organizza evento', new_event_path, :class => "btn"
  presente nella pagina del proprio utente,  oppure tramite menu da qualunque pagina.
%p
  Alcune informazioni sono obbligatorie, come
  %ul
    %li il nome
    %li la data (che deve essere posteriore alla data attuale)
    %li il numero di giocatori (mettere entrambi a 0 se non ci sono limiti)
%p
  E' prevista una data limite
  %i
    (deadline)
  oltre la quale non è possibile prenotarsi. Se non la si vuole, basta che sia identica
  alla data prevista dall'evento
  Le altre informazioni sono del tutto opzionali, ma possono essere utili per capire di che
  tipo di evento si tratta.
%h4
  Modifica e cancellazione
%p
  Solo l'organizzatore dell'evento può modificare l'evento stesso e, in paritcolare, cancellarlo.
  Quest'ultima operazione è particolarmente drastica perché elimina completamente l'evento, e tutto quanto
  ad esso collegato
%h2
  Comunicazioni
%p
  Creare un evento non è in genere sufficiente, occorre comunicarlo agli amici e ai potenziali
  giocatori. Per farlo basta premere il pulsante
  = link_to 'Annuncia', "#", :class=>"btn"
  Con esso potrete inviare messaggi a un elenco di indirizzi, oppure a utenti del sistema, oppure
  ai gruppi
  = link_to "(vedi oltre).", "#groups"
%p
  Con il pulsante
  = link_to 'Messaggi', "#", :class=>"btn"
  invece, potrete inviare messaggi a chi si è iscritto al vostro evento e, allo stesso modo,
  gli iscritti potranno comuncare con voi
%h2
  Gruppi
%a{:name => "#groups"}
%p
  I gruppi hanno po' le stesse funzionalità dei gruppi dei social networks, riunendo utenti con
  interessi simili (in questo sistema le funzioni sono molto più semplici).
%p
  Potete trovare l'elenco dei gruppi scegliendo la voce "Gruppi" dal menu. Se un gruppo vi interessa,
  premete il pulsante
  = link_to 'Mi interessa', "#", :class =>"btn btn-primary"
  e potrete decidere se mostrare il vostro nome assieme agli altri e se ricevere le comunicazioni relative a
  questo gruppo. Se siete già membri potrete sempre decidere di lasciarlo (a meno che non siate bannati)
%h4
  Creazione e amministrazione
%p
  Premendo
  = link_to 'Crea gruppo', "#" , :class => "btn"
  dall'elenco gruppi, potrete creare un nuovo gruppo. Qui l'unica informazione realmente necessaria
  è il nome del gruppo stesso, ma fornire più informazioni è ovviamente gradito.
%p
  In quanto proprietari del gruppo, potrete modificare i parametri del gruppo e le iscrizioni al gruppo stesso.
  In particolare, potrete "bannare" utenti che non volete facciano parte del vostro gruppo.
