<!DOCTYPE html>
<html>
<head>
  <title>Houserule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "House Rule", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <!--- li%= link_to "Help", '#' %> li -->
          <% if signed_in?  %>
              <li><%= link_to "Users", '#' %></li>
              <li><%= signed_in?%></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profilo di "+ current_user.name, user_path(@current_user) %></li>
                  <li><%= link_to "Preferenze", '#' %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Logout", logout_path, method: "delete", :id => "logout" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
